<header>
    <h1 id="home"><a href='/'>Path Finder</a></h1>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li ><a href="/bucketlist">Bucket List</a></li>
            <li><a href="/pathfinderRoutes">Popular Destinations</a></li>
            <li><a href="#">Budget</a></li>
        </ul>
    </nav>
</header>
