<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Path Finder'}) %>
    <link rel="stylesheet" href="/styles/404.css">
</head>

<body>
    <div class="glassy">
        <h1>Uh-Oh! Destination Unreachable!</h1>
        <p class="sorry">Sorry, the page you're looking for cannot be found.</p>
        <a href="/">Redirect Me To Path Finder</a>
    </div>
</body>

</html>
