<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: `About Furever Friends`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="content">
            <h2>What is Path Finder?</h2>
            <p>I AM A PLACEHOLDER. PURRRR</p>
            <h2>Path Finder's Mission</h2>
            <ul>
                <li>PLACEHOLDER.</li>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
