<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: `About Furever Friends`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="content">
            <h2>What is Path Finder?</h2>
            <p>As frequent travelers can attest, the process of planning a trip can be both arduous and time-consuming. 
                To address this challenge, Path Finder has developed a user-friendly mobile application that streamlines the travel planning experience. 
                Our app offers a comprehensive suite of tools that enable users to conveniently access key travel details such as lodging, transportation, activities, directions, and budgetary considerations in one centralized platform. 
                With Path Finder, gone are the days of toggling between multiple sites to gather estimates and information - we have simplified the process for our valued users.
            </p>
            <h2>Path Finder's Mission</h2>
            <ul>
                <li>To empower travelers by simplifying the travel planning process and providing comprehensive access to all necessary travel information in one convenient location.</li>
                <li>To enhance the travel experience for our users by offering a user-friendly mobile application that provides seamless access to essential travel details, including lodging, transportation, activities, directions, and budgeting.</li>
                <li>To create a seamless travel planning experience for our users, eliminating the need to visit multiple sites and streamlining the process of booking flights, hotels, and activities, allowing them to focus on what matters most: enjoying their trip.</li>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
