body {
    background: url(../assets/404.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glassy {
    text-align: center;
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*Ca1FWXYi8HEAbKMLuvUGuw.gif");
    background-size: cover;
    padding: 3rem;
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    height: 90vh;
    width: 60vw;
    min-height: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: calc(36px + 2vw);
    color: white;
}

p,
a {
    font-size: calc(20px + 0.5vw);
    text-decoration: none;
    margin-top: 2rem;
}

a {
    margin-top: auto;
    color: rgb(41, 44, 244);
}
.sorry{
    color: white;
}