img {
    width: 60%;
    min-width: 300px;
    height: 30%;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}
.destination-details {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 2rem;
    color: rgb(20, 20, 84);
}
.date{
    text-align: center;
    color: rgb(62, 155, 124);
}
.average{
  margin-top: 1rem;
  text-align: center;
  color: rgb(20, 20, 84);
  }
  

section {
    text-align: left;
    margin: 0 20%;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}
/********* FLIP CARDS COST *********/
.topTwo{
    display: flex;
    justify-content: center;
}

/******************* HOTELS *****************/
.hotelsDiv {
    background-color: transparent;
    width: 300px;
    height: 210px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  /* This container is needed to position the front and back side */
  .hotelsContent {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do a horizontal flip when you move the mouse over the flip box container */
  .hotelsDiv:hover .hotelsContent {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .hotelsFront, .hotelsBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .hotelsFront {
    position: absolute;
    color: black;
    z-index: 1;
  }
  .hotelsFront::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.postimg.cc/FRx38Lt1/4.jpg");
    background-size: 400px 210px;
    opacity: 0.5;
    z-index: -1;
  }
  .hotelsFront p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
  }
  
  .hotelsBack {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
  

  .hotels {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
  }

/********************* FLIGHTS ***************/
.flightsDiv {
    background-color: transparent;
    width: 300px;
    height: 210px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flightsContent {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flightsDiv:hover .flightsContent {
    transform: rotateY(180deg);
  }
  
  .flightsFront, .flightsBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flightsFront {
    position: absolute;
    color: black;
    z-index: 1;
  }
  .flightsFront::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.postimg.cc/QM1pgz0Q/3.jpg");
    background-size: 400px 210px;
    opacity: 0.5;
    z-index: -1;
  }
  .flightsFront p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
  }
  
  

  .flightsBack {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
  

  .flightsFront p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
  }
  
  .cost-info {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
  }
/* ACTIVITIES COST */
.activitiesDiv {
    background-color: transparent;
    width: 300px;
    height: 209.5px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .activitiesContent {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .activitiesDiv:hover .activitiesContent {
    transform: rotateY(180deg);
  }
  
  .activitiesFront, .activitiesBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .activitiesFront{
    position: absolute;
    color: black;
    z-index: 1;
  }
  .activitiesFront::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.postimg.cc/764SKNWp/2.jpg");
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }
  
  .activitiesFront p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
  }

  .activitiesBack { 
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }


/* MISCELLANEOUS */
.miscDiv {
    background-color: transparent;
    width: 300px;
    height: 209.5px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  .miscContent {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .miscDiv:hover .miscContent {
    transform: rotateY(180deg);
  }
  
  .miscFront, .miscBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  

  .miscFront {
    position: absolute;
    color: black;
    z-index: 1;
  }
  .miscFront::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.postimg.cc/QdRQTDkN/1.jpg");
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }
  .miscBack {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
  .miscFront p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
  }
  .cost-info {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
  }
  .bottomTwo{
    display: flex;
    justify-content: center
  }

  /*******CONTENT INSIDE******/
  .hotelsCost{
    font-size: 55px;
    padding-top: 4rem;
  }
  .flightCost{
    font-size: 55px;
    padding-top: 4rem;
  }
  .activitiesCost{
    font-size: 55px;
    padding-top: 4rem;
  }
  .miscCost{
    font-size: 55px;
    padding-top: 4rem;
  }
  .header{
    position: fixed;
  }