.destinationTitle{
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 1rem;
    color: rgb(8, 8, 70);
}

img{
    display: block;
    width: 50%;
    margin: 0 auto;
    border: 25px groove rgb(19, 114, 93);
    margin-top: 3rem;
    
}
figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    opacity: 0;
}
figcaption:hover{
    opacity: 1;
    color: rgb(247, 247, 247);
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
}

.bucketHead{
    color: black;
    text-align: center;
    border: 2px solid white;
    background-color: white;
    letter-spacing: 4px;
}