* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}

a { 
    color: white;
    text-decoration: none;
}


/*************HEADER************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c7468fd;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: white;
}
/**************NAVIGATION***************/

#home {
    font-size: 2rem;
    color: white;
    margin-left: 5vw;
    text-align: center;
    font-family: 'Gloock', serif;
    letter-spacing: 2px;
}
nav ul {
    display: flex;
    list-style: none;
    color: white;
    margin-right: 3rem;
}

nav li:not(:last-child) {
    margin-right: 1rem;
    color: white;
   
}

nav a {
    font-size: 1.2rem;
    color: white;
    font-family: 'Noto Serif SC', serif;

}
/***************** Footer *****************/
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #134a41fd;
    width: calc(100vw);
    margin-top: 6.9vh;
    font-family: 'Gloock', serif;
}

footer * { 
    color: #fff;
}

footer ul {
    justify-content: center;
}